<a href="https://colab.research.google.com/github/Pedrohq26/AnimaCursoExtensaoPython2022-2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [110, 20, 45, 67, 12]
print(min(L))
print(max(L))
print(sum(L))
L.append(100)
print(L)
L2 = [27, 31, 42]
L.extend(L2)
print(L)

12
110
254
[110, 20, 45, 67, 12, 100]
[110, 20, 45, 67, 12, 100, 27, 31, 42]

In [ ]:
L = [1, 2, 3, 4]
print(L)
del L[1]
print(L)

[1, 2, 3, 4]
[1, 3, 4]

In [ ]:
L = [1, 2, 3, 4]
print(2 in L) #True
print(7 in L) #False
L2 = [57, 82, 14, 13, 21, 63]
L2.sort()
print(L2)
L2.reverse()
print(L2)

True
False
[13, 14, 21, 57, 63, 82]
[82, 63, 57, 21, 14, 13]

In [ ]:
a = [0, 2, 4]
b = [3,5,8]
c = a + b
print(c)
d = a * 3 # * = Repetição de uma lista
print(d)

[0, 2, 4, 3, 5, 8]
[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [ ]:
L = [13, "TEXTO", True, [1,2,3], "texto2"]
print(L[1:4])
print(L[2:])
print(L[:3])

['TEXTO', True, [1, 2, 3]]
[True, [1, 2, 3], 'texto2']
[13, 'TEXTO', True]

In [ ]:
l1 = list(range(5))
l2 = list(range(3,8))
l3 = list(range(2,11,3))

In [ ]:
Precos = {"lapis" : 5.5, "Caneta": 7.0, "Borracha" : 6.5}
print("Caneta" in Precos)
print("caderno" in Precos)
print(Precos.keys())
print(Precos.values())

True
False
dict_keys(['lapis', 'Caneta', 'Borracha'])
dict_values([5.5, 7.0, 6.5])

In [ ]:
d = {"cachorro" : "dog", "gato" : "cat"}
print(d["gato"])
print("gato" in d)
print('girafa' in d)
d["peixe"] = "fish"
print(d)

cat
True
False
{'cachorro': 'dog', 'gato': 'cat', 'peixe': 'fish'}

In [ ]:
animais = {"gato", "chachorro", "gato"}
print("gato" in animais) #True
print("ovelha" in animais) #False
animais.add("ovelha")
print(animais)
print(len(animais))
animais.remove("ovelha")
print(len(animais))

True
False
{'ovelha', 'chachorro', 'gato'}
3
2

In [ ]:
tupla = (1,2,3,4,5,6)
print(tupla)
print(tupla[4])

(1, 2, 3, 4, 5, 6)
5

In [ ]:
def soma(numero1,numero2):
 resultado = numero1 + numero2
 return resultado
soma(2,1)

def leitura():
  nome = input("digite o seu nome: ")
  sobrenome = input("Digite seu sobrenome: ")
  nomeCompleto = nome + " " + sobrenome
  return nomeCompleto

print(leitura())

digite o seu nome: Pedro
Digite seu sobrenome: Quintela
Pedro Quintela

In [ ]:
def potencial(numero1,numero2):
  resultado = numero1 ** numero2
  return resultado

x = int (input("Digite o primeiro numero:"))
y = int (input("Digite o segundo numero:"))
print(potencial(x,y))

Digite o primeiro numero:3
Digite o segundo numero:2
9